body {
  font-family: "Inter", sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
a{
    width: 90%;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.text {
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  padding: 0;
}

.credential-style{
  color: rgb(30, 30, 30);
  margin: 10px; 
  margin-left: 0;
}

.candidate-credentials{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 20px;
  width: 90%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15), 0 1.5px 4px rgba(0,0,0,0.10);
}
.candidate-cards{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 20px;
  width: 90%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15), 0 1.5px 4px rgba(0,0,0,0.10);
}

.candidate-card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 50px;
  width: 66vw;
  height: 15vh;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(237, 237, 237);
  cursor: pointer;
}

.pfp-icon{
  height: 80px;
  width: 80px;
  border-radius: 100%;
  object-fit: contain;
}

.image-holder{
  width: 12%;
}

.candidate-data{
  width: 40%;
}

.edit-data{
  display: flex;
  width: 28%;
  flex-direction: column;
  gap: 15px;
}
.input{
  height: 8%;
  padding: 8px;
  width: 80%;
  font-size: 15px;
  margin: 8px;
}

.error{
  font-family: sans-serif;
  color: red;
  margin-left: 10px;
  margin-top: 10px;
}

.success{
  font-family: sans-serif;
  color: green;
  margin-left: 10px;
  margin-top: 10px;
}

.btn-add-choice{
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0;
}

.buttons{
  margin: 8px;
  margin: 30px;
}

.btn {
  border: none;
  background-color: skyblue;
  padding: 10px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.btn:hover {
  background-color: #0099cc;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 153, 204, 0.2);
}

.preview-and-add{
  margin: 0px 10px 10px 10px;
}
/* .input-field{
    width: 95%;
    height: 20%;
    border-radius: 8px;
    border: 1px solid black;
    margin: 5px 10px 10px 10px;
}

.input-field-other{
    width: 70%;
} */

.navbar {
  display: flex;
  width: 100%;
  height: 12%;
  padding-left: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 50px;
  width: 50px;
}

.mid-section {
  display: flex;
  flex: 1;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  padding-right: 10px;
}

.dropdown {
  height: 50%;
  width: 80%;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  align-items: start;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 12%;
  bottom: 0;
  height: 100%;
  width: 80%;
  /* background-color: rgb(251, 251, 122); */
}

.sidebar {
  position: fixed;
  top: 10%;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: rgb(243, 243, 243);
  /* margin-top: 6%; */
  z-index: 0;
}

.left-panel {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
  /* background-color: lightblue; */
}

.right-panel {
  display: flex;
  height: 100%;
  width: 60%;
}

/* Media Queries */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .left-section,
  .right-section {
    width: 100%;
    justify-content: flex-start;
    padding-right: 0;
  }

  .mid-section {
    display: none;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .dropdown {
    width: 100%;
    height: 40px;
    font-size: 1em;
    opacity: 0;
  }

  h2 {
    font-size: 1.1em;
  }

  .main-content {
    background-color: pink;
  }
}
